@charset "utf-8";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
}
.player{
    position: sticky;
    top: 0;
    
}
.playbar iframe{
    width: 100%;
    height: 100%;
    max-width: 1000px;
}